/* align item works with cross axis
    row -> cross axis is vertically
 */

.container {
  display: flex;
  border: 10px solid mistyrose;
  height: 100vh;
  align-items: center;
  /*
    center -> vertically center
    stretch -> vertically strech
    baseline -> text align with same base 
    flex-end -> bottom are align
    flex-start -> top are align
  */
}

.box1 {
  font-size: 30px;
}

.box4 {
  font-size: 140px;
}