
/* flex direction */

.container {
  display: flex;
}

.box {
  flex: 1; /* evenly distributed */
  order: 0; /* set default for all */
}

.box3{
  order:1 /* default 0 -> 1 is the biggest -> last*/
}

.box7 {
  order: 2
}

.box4 {
  order: -1 /* now this is the smallest -> first in the order */
}