/*
  align-content work on the cross axis (not main axis)
*/
.container {
  display: flex;
  border: 10px solid mistyrose;
  height: 100vh;
  flex-wrap: wrap;
  /*justify-content: space-between; /* man access from lest to right (row) */
  align-content: center; /* cross axis */
  justify-content: center; /* main axis */
}

.box {
  width: 33.33333%;
}